* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    width: 100%;
    padding: 0 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 56px;

}

.heade-logo__wrapper img:hover {
    opacity: 0.8;
}

.heade-logo__wrapper img:active {
    opacity: 0.4;
}

.heade-logo__wrapper img {
    padding-top: 16px;
}

.header__nav {
    margin-left: 120px;
}

.header__list {
    display: flex;
    column-gap: 0px;
}

.header__item {

    display: inline-block;
    width: 129px;
    list-style: none;
    text-align: center;
   

}
.header__link:hover {
    border-bottom: 2px solid black;
}

.header__link:active {
    background-color: #000000;
    color: white;
    opacity: 0.8;


}
.button{
    position: relative;
    bottom: 17px;
}
.header__link {

    display: inline-block;
    padding-top: 16px;
    width: 100%;
    height: 56px;
    text-decoration: none;
    color: black;
}

.sub-menu {
    display: none;
    position: absolute;
    width: 129px;
    height: 216px;
    border-radius: 5px;
    padding: 8px 10px;
    z-index: 0;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.sub-menu__link {

    display: inline-block;
    padding: 10px 10px;
    text-align: left;
    width: 100%;
    height: 41.7px;
    text-decoration: none;
    color: black;

}

.sub-menu__link:hover {
    background-color: rgba(0, 186, 252, 1);
    color: white;
}

.sub-menu__link:active {
    background-color: rgba(0, 186, 252, 1);
    opacity: 0.6;
}

.header__item:hover .sub-menu {
    display: block;
}

.btn {
    margin-top: 13px;
    height: 30px;
    color: white;
    background: #00BAFC;
    padding: 0px 16px;
    border-radius: 5px;
    border: 2px solid #00BAFC;
}

.btn:hover {
    color: #00BAFC;
    background-color: white;
    border: 2px solid #00BAFC;
}

.btn:active {
    color: white;
    background-color: #66D6FD;
    border: 2px solid #66D6FD;
}

.main {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 200px;
    width: 100%;
    max-width: 1440px;
}

.main__nullam {
    font-weight: 400;
    font-size: 16px;

}

.main__right {
    margin-top: 80px;
}

.main-left__box {
    margin-top: 97px;
}

.main__nullam {
    margin: 15px 0px;
}

.main-box__wrapper {
    margin: 0 auto;
    text-align: center;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.servise__desc {
    width: 658px;
    margin: 0 auto;
}

.main__servis {
    margin: 0 auto;
    text-align: center;
    width: 1080px;
}

.servise-heading__two {
    margin-top: 80px;
    font-size: 24px;
}

.main-middle__heading{
    margin-bottom: 15px;
    font-size: 20px;
}
.header--button{
    position: relative;
    left: 52px;
    margin-top: 13px;
    height: 30px;
    color: white;
    background: #00BAFC;
    padding: 0px 16px;
    border-radius: 5px;
   border: none;
}
.header--button:hover{
    border: 2px solid #00BAFC;
    background-color: #fff;
    color: #00BAFC;
}
.main-first__logo {
    margin: 0 auto;
    text-align: center;
    width: 320px;
    height: 260px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.main-first__logo:hover {
    box-shadow: 0px 12px 21px 0px rgba(0, 0, 0, 0.1);

}

.main-first__logo:active {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

}

.main-first__logo img {
    margin-top: 20px;
    margin-bottom: 12px;
}

.btn {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    padding: 0 50px;
    width: 100%;
    max-width: 1440px;
    padding-bottom: 30px;
    display: flex;
    column-gap: 100px;
    background-color: black;
}

.main-middle__heading {
    font-size: 20px;
    color: black;
}

.main-box__desc {
    line-height: 30px;
    font-weight: 400;
    color: black;
}

.main-box__pg{
color: white;
}

.main__nullam {
    width: 465px;
}

.footer .telegram i {
    margin-top: 15px;
    color: white;
}

.footer-second__link{
    color: white;
    text-decoration: none;
    margin: 10px 0;
}
.footer-second__link:hover{
    color: #00BAFC;

}
.footer-second__link:active{
opacity: 0.75;
}

.footer-first__box {
    padding-top: 6px;
    margin-top: 58px;
    margin-left: 100px;
    width: 320px;
}

.footer-second__box {
    margin-top: 56px;
}

.footer-third__box {
    margin-top: 56px;
}

.footer__list {
    list-style: none;
}

.footer__item {
    margin-top: 10px;
}

.footer__link {

    text-decoration: none;
    color: white;
}

.footer__link:hover {
    color: #00BAFC;
}

.telegram:active {
    color: #00BAFC;
    opacity: 0.7;
}

.footer__link:active {
    color: #00BAFC;
    opacity: 0.7;
}

@media only screen and (max-width: 900px) {
    .main {
        width: 900px;
        /* overflow: hidden; */
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 900px;
        padding: 0 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        height: 50px;
    }

    .header__logo {
        width: 60px;
    }

    .footer {
        width: 900px;
    }


    .header__logo {
        padding-top: 13px;
    }

    .header__nav {
        margin-left: 23px;
        font-size: 14px;
    }

    .header__item {
        width: 90px;
        font-size: 14px;
    }

    .header__list {
        width: 480px;
        height: 50px;
        column-gap: 12px;
    }

    .header__link {
        height: 50px;
    }

    .sub-menu {
        width: 90px;
        height: 210px;
        border-radius: 5px;
        padding: 0;
    }

    .sub-menu__link {
        font-size: small;
    }

    .sub-menu__link:hover {
        background-color: rgba(0, 186, 252, 1);
        color: white;
    }

    .header--button {
        position: relative;
     width: 180px;
     left: 0;
        bottom: 20px;
        margin-left: 30px;

    }

    .main-left__box {
        width: 300px;
    }

    .main__nullam{
        width: 300px;
    }

    .main__right {
        width: 300px;
        display: flex;
        align-items: center;
    }

    .right__image {
        width: 300px;
        height: 200px;
    }

    .main__servis {
        width: 900px;
    }

}

@media screen and (max-width: 400px) {
    .main {
        width: 400px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 400px;
        padding-right: 8px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        height: 50px;
    }

    .header-logo__wrapper {
        height: 50px;
    }

    .header__logo {
        position: relative;
        top: 2px;
        width: 39px;
    }

    .footer {
        display: flex;
        width: 400px;
    }

    .header__nav {
       position: relative;
       right: 10px;
        font-size: small;
    }

    .right__image {
        position: relative;
        left: 45px;
    }

    .header--button {
        display: none;
    }

    .header__item {
        width: 68px;
        font-size: 13px;
    }

    .header__list {
        width: 310px;
        height: 50px;
        column-gap: 12px;
    }

    .header__link {
        height: 50px;
    }

    .sub-menu {
        width: 55px;
        height: 210px;
        border-radius: 5px;
        padding: 0;
    }

    .sub-menu__link {
        font-size: smaller;
    }

    .sub-menu__link:hover {
        background-color: rgba(0, 186, 252, 1);
        color: white;
    }

    .main-left__box {
        width: 300px;
        margin: 0 auto;
        font-size: small;
    }

    .main {
        display: unset;
        margin: 0 auto;
    }

    .main__nullam {
        width: 300px;
        margin: 0 auto;
    }
    .servise__desc{
        padding: 10px 15px;
    }

    .main__right {

        display: flex;
        align-items: center;
    }

    .right__image {
        width: 300px;
        height: 200px;
    }

    .main__servis {
        width: 400px;
    }

    .servise-heading__two{
        width: 400px;
    }

    .servise__desc {
        width: 400px;
    }

    .footer {
        display: flex;
        align-items: center;
      overflow: hidden;
        width: 400px;
        padding: 50px 20px;
    }

    .footer-first__box {
        display: none;
    }
.footer-second__box{
    width: 200px;
    position: relative;
   
}
.footer-third__box{
    width: 200px;
}
    .main-middle__heading {
        width: 100px;
        
    }
    .footer__heading{
        color: white;
       position: relative;
       right: 15px;
    }
   

    .main-box__desc {
        margin: 0 auto;
        text-align: center;
       
    }
    .main-middle__heading{
        /* width: 200px; */
      margin: 0 auto;
    }

}